body {
    background-color: rgb(32, 33, 33);
}

#form-paper {
    background-color: rgb(70, 70, 70);
}

#message-field {
  color: white;
}

.text-field {
    color: white;
    margin-top: 20px;
}

/* Larger screens */
@media only screen and (min-width: 776px) {
  #form-div {
    display: flex;
    justify-content: center;
  }
}

/* Smaller screens */
@media only screen and (max-width: 776px) {
  
}
